html {
    background-color: black;
    color: white;
    font-family: Verdana;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h5 {
    font-size: 21px;
    color: gray;
}

p {
    font-size: 16px;
}

a[href] {
    color: aquamarine;
}

#copyright {
    text-align: right;
}